<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Course Assign Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

    <!-- conditionally print succ message -->
    <div th:if="${successMessage}" th:text="${successMessage}"></div>

    <p>Student List:</p>

    <!-- print unordered list of students with an "Assign" button beside each on -->
    <ul th:each="student : ${studentList}">

        <!-- conditionally display student if they are not already assigned to that course -->
        <th:block th:if="${!student.courses.contains(course)}">

            <li>
                    <span th:text="${student.name}"></span>

                    <!-- assign button that sends both course and student id -->
                    <form th:action="@{/admin/course-assign}" method="post" style="display: inline">
                        <input type="hidden" name="courseId" th:value="${course.id}">
                        <input type="hidden" name="studentId" th:value="${student.id}">
                        <button type="submit">Assign</button>
                    </form>

            </li>

        </th:block>

    </ul>

</body>
</html>