<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Admin Teacher Management Page</title>
</head>
<body>

  <h1>Manage Teachers</h1>

  <!-- Display error message from failed teacher search -->
  <div th:if="${errormessage}" th:text="${errormessage}"></div>

  <!-- Display form to search for a teacher -->
  <form th:action="@{/admin/teacher-search}" th:object="${searchTeacher}" method="post" style="display: inline"> <!-- Pass text to controller that will handle searching for a teacher -->
      <label for="search">Teacher Id</label>
      <input type="text" id="search" th:field="${searchTeacher.id}" placeholder="Enter Teacher Id"> <!-- th:field specifies what obj's field to work wtih -->
      <button type="submit" style="display: inline">Search</button>
  </form>

  <!-- add teacher button -->
  <form th:action="@{/admin/teacher-add}" method="get" style="display: inline">
      <input type="hidden" id="teacher-add">
      <button type="submit">Add Teacher</button>
  </form>

  <!-- Displays list of all teachers with action buttons beside them-->
  <ul>
        <li th:each="teacher: ${teachers}">

            <span th:text="${teacher.name}"></span>

            <!-- Update button -->
            <form th:action="@{/admin/teacher-update}" method="get" style="display: inline">
                <input type="hidden" id="teacher-update" th:value="${teacher.id}">
                <button type="submit">Update</button>
            </form>

            <!-- Delete teacher button -->
            <form th:action="@{/admin/teacher-delete}" method="get" style="display: inline">
                <input type="hidden" id="teacher-delete" th:value="${teacher.id}">
                <button type="submit">Delete</button>
            </form>

            <!-- Assign course to teacher button -->
            <form th:action="@{/admin/teacher-assign}" method="get" style="display: inline">
                <input type="hidden" id="teacher-assign" th:value="${teacher.id}">
                <button type="submit">Assign Course</button>
            </form>

        </li>
    </ul>

</body>
</html>