<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Update Page</title>
</head>
<body>
  <h1>Teacher Update Works!</h1>

  <!-- Form to update teacher-->
  <form th:action="@{/admin/teacher-update}" th:object="${teacher}" method="post">
    <label for="name">Name: </label>
      <input type="hidden" th:field="${teacher.id}">
    <input type="text" th:field="${teacher.name}" id="name">
      <button type="submit">Submit</button>
  </form>
</body>
</html>